body{
    display: flex;
    height: 100vh;
    padding: 30vh 300px 100px;
}

.element{
    height: 200px;
    width: 200px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    border-radius: 25px;

    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-play-state: paused;
}

.element:hover{
    animation-play-state: running;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    50%{transform: scale(1.5);}
    100%{transform: rotate(360deg);
    border-radius: 50%;}
}
